NODE_ENV=development
PORT=4000
API_PREFIX=api/v1
DATABASE_URL=postgresql://code_forge:code_forge@localhost:5432/code_forge?schema=public
GIT_STORAGE_PATH=../data/git
FRONTEND_ORIGIN=http://localhost:3000
